body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/578/672/52/watch-luxury-watches-rolex-wallpaper-preview.jpg);
 background-size: 100rem 55rem;
 font-family: 'Times New Roman', Times, serif;   
}
#aaa
{
    color: antiquewhite;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}